{% extends "base.html" %} {% load static %} {% block content %}
<form action="/" method="post" class="text-sm p-2">
   {% csrf_token %}
   <div class="form-group mt-2">
      <label for="signupInputUserName">User name</label>
      <input type="text" class="form-control text-center" id="signupInputUserName" placeholder="Enter user name" required />
   </div>
   <div class="form-group">
      <label for="signupInputEmail">Email address</label>
      <input type="email" class="form-control text-center" id="signupInputEmail" placeholder="Enter email" required />
   </div>
   <div class="form-group">
      <label for="signupInputPassword1">Password</label>
      <input type="password" class="form-control text-center" id="signupInputPassword1" placeholder="Password" required />
   </div>
   <div class="form-group">
      <label for="signupInputPassword2">Password confirmation</label>
      <input type="password" class="form-control text-center" id="signupInputPassword2 " placeholder="Password" required />
   </div>
   <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-base mt-2" style="padding-left: 2.5rem; padding-right: 2.5rem">Sign Up</button>
   </div>
</form>

{% endblock %}
